<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="~/css/style.css" />
	</head>

	<body>
		<div class="nav">
			<a href="/">Home</a>
			<a href="/projects">Projects</a>
			<a href="/contact">Contact</a>
		</div>

		<h1>Tony Morris</h1>

		<img src="~/img/me.jpeg" width="200" />
		
		<div class="">
			<p>"Coding is like walking up an escalator that moves in the polar opposite of your direction. You keep walking and never stop." - Tony Morris

			I'm Tony Morris, Full-stack Web Developer.

			I code in C, C++, C#, Java, Lua, Python, HTML, CSS and Javascript . I'm familiar with various frameworks and web technologies such as Flask, Django, Spring, ASP.NET, Angular and AJAX.

			I’m passionate about passing on my coding knowledge to others, breaking down complex concepts into simple ones that even non-coders can understand. I'm driven to learn, staying on my toes with the latest Web Technologies in this ever-changing industry.

			If i'm not knees deep into coding one of my own projects, you'll find me willingly offering up my services or skills to aid other like-minded individuals. I'm a team player, striving to make dreams a reality.</p>
		</div>
	</body>
</html>