<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="~/css/style.css" />
	</head>

	<body>
		<div class="nav">
			<a href="/">Home</a>
			<a href="/projects">Projects</a>
			<a href="/contact">Contact</a>
		</div>

		<div class="flex">
			<div class="block">
				<h3 style="text-align:center;">Lion</h3>
				<img src="~/img/lion.jpg" width="200" />
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ac nisi nibh. Sed non lectus euismod, blandit eros eget, imperdiet eros. Sed porta purus vel purus fringilla sodales. Integer consequat sapien tristique, ullamcorper metus sed, molestie nisi.</p>
			</div>

			<div class="block">
				<h3 style="text-align:center;">Tiger</h3>
				<img src="~/img/tiger.jpeg" width="200" />
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ac nisi nibh. Sed non lectus euismod, blandit eros eget, imperdiet eros. Sed porta purus vel purus fringilla sodales. Integer consequat sapien tristique, ullamcorper metus sed, molestie nisi.</p>
			</div>

			<div class="block">
				<h3 style="text-align:center;">Bear</h3>
				<img src="~/img/bear.jpg" width="200" />
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ac nisi nibh. Sed non lectus euismod, blandit eros eget, imperdiet eros. Sed porta purus vel purus fringilla sodales. Integer consequat sapien tristique, ullamcorper metus sed, molestie nisi.</p>
			</div>
		</div>
		<p>OH MY!</p>
	</body>
</html>