<div class="container c ilb">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>Add A Question</h2>
        </div>

        <div class="panel-body">
            <form (submit)="onCreate()" class="form-horizontal" #form=ngForm>
                <div class="form-group has-feedback" [ngClass]="{
                    'has-success':title.valid,
                    'has-warning':title.invalid
                }">
                    <label class="control-label col-sm-2">Question Title:</label>

                    <div class="col-sm-10">
                        <input 
                            required
                            class="form-control has-feedback" 
                            type="text" 
                            name="title"
                            minlength="10" 
                            [(ngModel)]="question.title"
                            #title="ngModel"
                            [ngClass]="{
                                'has-success':title.valid,
                                'has-warning':title.invalid
                            }"
                        >

                        <span 
                            class="glyphicon form-control-feedback"
                            [ngClass]="{
                                'glyphicon-ok':title.valid,
                                'glyphicon-warning-sign':title.invalid
                            }"
                        ></span>

                        <div *ngIf="title.errors" class="alert alert-danger">
                            Question must be at least 10 characters in length.
                        </div>
                    </div>
                </div>

                <div class="form-group has-feedback" [ngClass]="{
                    'has-success':description.valid,
                    'has-warning':description.invalid
                }">
                    <label class="control-label col-sm-2">Question Description:</label>

                    <div class="col-sm-10">
                        <input
                            class="form-control has-feedback" 
                            type="text" 
                            name="description"
                            minlength="16"
                            [(ngModel)]="question.description"
                            #description="ngModel"
                            [ngClass]="{
                                'has-success':description.valid,
                                'has-warning':description.invalid
                            }"
                        >

                        <span 
                            class="glyphicon form-control-feedback"
                            [ngClass]="{
                                'glyphicon-ok':description.valid,
                                'glyphicon-warning-sign':description.invalid
                            }"
                        ></span>

                        <div *ngIf="description.errors" class="alert alert-danger">
                            Description must be at least 16 characters in length.
                        </div>
                    </div>
                </div>

                <button 
                    [ngClass]="{
                        'btn-danger':form.invalid,
                        'btn-success':form.valid
                    }"
                    class="btn col-sm-12"
                    [disabled]="form.invalid"
                >
                Create Question</button>
            </form>
        </div>
    </div>
</div>
