<!DOCTYPE html>
<html>
<head>
    <title>Secrets</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'app_main/style.css' %}">
</head>
<body>
    <div class="nav">
        <p>Welcome, {{ request.session.first_name }}</p>
        <button><a href="/">Logout</a></button>
    </div>
    
    {% for message in messages %}
        {% if 'error' in message.tags %}
            <p class="error">{{ message }}</p>
        {% elif 'success' in message.tags %}
            <p class="success">{{ message }}</p>
        {% endif %}
    {% endfor %}

    {% if page %}
        <p class="heading">Most Popular Secrets</p>
        <p><a class="form post" href="/secrets">Back</a></p>
    {% else %}
        <p class="heading">Recent Secrets</p>
        <p><a class="form post" href="/secrets/">Most Popular secrets</a></p>

        <form class="form post" action="/post" method="post">
            {% csrf_token %}
            <textarea placeholder="Your secret here" class="post textarea" name="text"></textarea>
            <input class="submit" type="submit" value="Post">
        </form>
    {% endif %}

    {% for secret in secrets %}
        <div class="form post">
            <p>
                {{ secret.text }} 
                ({{ secret.created_at }})
                {{secret.likes}} like(s)

                <span class="unbold">
                    <a href="/like_post/{{secret.id}}">
                        Like
                    </a>
                </span>

                {% for like in likes %}
                    {% if like.secret.id == secret.id and like.user.id == request.session.id %}
                    <p class="bold">You liked this</p>
                    {% endif %}
                {% endfor %}
            </p>

            {% if secret.user.id == request.session.id %}
                <p class="bold">You posted this
                    <span class="unbold">
                        <a href="/delete_post/{{secret.id}}">
                            Delete
                        </a>
                    </span>
                </p>
            {% endif %}
        </div>
    {% endfor %}
</body>
</html>