body{
	background-color: rgb(24,24,24);
}

*{
	padding: .5%;
	color: white;
}

.nav{
	display: flex;
	background-color: rgba(32,32,32,1);
}

.flex{
	display: flex;
}

.block{
	width: 98%;
	padding: 1%;
	margin:1%;
	background-color: rgb(32,32,32);
}