<div class="container c">
    <form (keyup)="onQuery()" class="form-horizontal" #form=ngForm>
        <div class="form-group has-feedback" [ngClass]="{
            'has-success':queryString.valid,
            'has-warning':queryString.invalid
        }">
            <label class="control-label col-sm-1">Query:</label>

            <div class="col-sm-11">
                <input 
                    class="form-control has-feedback" 
                    type="text" 
                    name="queryString"
                    [(ngModel)]="query.query"
                    #queryString="ngModel"
                    [ngClass]="{
                        'has-success':queryString.valid,
                        'has-warning':queryString.invalid
                    }"
                >

                <span 
                    class="glyphicon form-control-feedback"
                    [ngClass]="{
                        'glyphicon-ok':queryString.valid,
                        'glyphicon-warning-sign':queryString.invalid
                    }"
                ></span>
            </div>
        </div>
    </form>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>Questions</h2>
        </div>

        <table class="table table-hover table-striped table-bordered">
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Answers</th>
                <th>Actions</th>
            </tr>

            <tr *ngFor="let question of questions">
                <td>{{question.title}}</td>
                <td>{{question.description}}</td>
                <td>{{question.answers.length}}</td>
                <td><a [routerLink]="['/questions/',question._id]">Answer Question</a></td>
            </tr>
        </table>
    </div>
</div>
