<!DOCTYPE html>
<html>
	<head>

	</head>
	<body>
		<form action="/results" method="post">
			<input placeholder="Name" style="display:block;" type="text" name="name" />

			<p>Location:</p>
			<select style="display:inline-block;" name="location">
				<option>D.C.</option>
				<option>Burbank</option>
				<option>San Jose</option>
				<option>Seattle</option>
			</select>

			<p>Favorite Language:</p>
			<select style="display:inline-block;" name="lang">
				<option>C</option>
				<option>C++</option>
				<option>C#</option>
				<option>Java</option>
				<option>Python</option>
				<option>Lua</option>
				<option>JavaScript</option>
				<option>HTML</option>
				<option>CSS</option>
			</select>

			<input style="display:block;" type="submit" />
		</form>
	</body>
</html>