<!DOCTYPE html>
<html>
	<head>

	</head>
	<body>
		<h1>Submitted Info:</h1>

		<h3>Name: @ViewBag.name</h3>
		<h3>Location: @ViewBag.location</h3>
		<h3>Favorite Language: @ViewBag.lang</h3>

		<a href="/">Go Back</a>
	</body>
</html>